@use "./global" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  height: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  @include apply-utility("font", "sans");
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img:not([alt]) {
  filter: blur(10px);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

nav:where(ol, ul) {
  list-style: none;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

#root,
#__next {
  height: 100%;
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
